a {
    text-decoration: none
}

a:hover {
	text-decoration: none;
    font-style: inherit;
}

.archive-link {
    text-decoration: none;
    color: black;
    font-style: italic;
    font-size: 1.5rem
}

.archive-link:hover {
    text-decoration: underline
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

header {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    overflow: hidden;
}

header #site_title {
    text-align: center;
    color: black
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom: 10px;
    text-decoration: none;
    color: black
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
    text-decoration: none;
    color: black
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    max-width: 100%;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px
}
